
.aa {
    margin-left: 60px;
    padding: 0;
    overflow: hidden;
    background-color:black;
  }
  
  span{
    float: right;

  }
 
  
  a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin:5px;
    border-radius: 10px;
  }
  
  a:hover {
    background-color:transparent;
  }
  .icons{
    margin-left:400px !important;
    display:flex;
  }
.icon{
  width:70px !important;
  padding-right:5px;
}


.container{
  size: 80%;
}


