

<p>
    <mat-toolbar >

    <div class="content">
      <div class="rounded-corners-gradient-borders">
          <img src= "assets/images/marwen.jpg" class="photoprofile" >
      </div>
      <div class="translate">
          <mat-card-title></mat-card-title>
          

      </div>
  </div>

      
      <span style="color: white;">SHILI </span>
     
      <div class="aa">
        <span><a routerLink="skills">Skills</a></span>
        <span>  <a routerLink="projects">Projects</a></span>
       <span><a  routerLink="">Home</a></span>
      
      </div>
        <div class="icons">
          
          <a href="https://www.linkedin.com/in/marwen-eshili-66b7a51a0/"><span>
            <button mat-icon-button ><img src="assets/icons/linkedin.svg"class="icon">
          </button> </span></a>
          
          <a href="https://www.facebook.com/ween.maar"><span>
            <button mat-icon-button ><img src="assets/icons/github-2506802 (2).svg"class="icon">
          </button> </span></a>
          <a href="https://www.facebook.com/ween.maar"><span>
            <button mat-icon-button ><img src="assets/icons/twitter (1).svg"class="icon">
          </button> </span></a>
          <a href="https://www.facebook.com/ween.maar"><span>
            <button mat-icon-button ><img src="assets/icons/gitlab (1).svg"class="icon">
          </button> </span></a>
      </div>
      
    </mat-toolbar>
  </p>
