<!--      
        <div class="icons">
          
          <a href="https://www.linkedin.com/in/marwen-eshili-66b7a51a0/"><span>
            <button mat-icon-button ><img src="assets/icons/linkedin.svg"class="icon">
          </button> </span></a>
          
          <a href="https://www.facebook.com/ween.maar"><span>
            <button mat-icon-button ><img src="assets/icons/github-2506802 (2).svg"class="icon">
          </button> </span></a>
          <a href="https://www.facebook.com/ween.maar"><span>
            <button mat-icon-button ><img src="assets/icons/twitter (1).svg"class="icon">
          </button> </span></a>
          <a href="https://www.facebook.com/ween.maar"><span>
            <button mat-icon-button ><img src="assets/icons/gitlab (1).svg"class="icon">
          </button> </span></a>
      </div>
      
    </mat-toolbar>
  </p>

  -->




  <div class="uk-position-fixed">
    <img src="assets/images/1.png" alt="">
    <div class="uk-position-top">
      <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="skills"> Skills</a></li>
            <li><a routerLink="projects">Projects</a></li>
            <li><a routerLink="contact">Contact</a></li>
            <li>
              <a href="#">About</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <!--<app-profile></app-profile>-->
                </ul>
              </div>
            </li>
          </ul>
        </div>

        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            

            <li> <a href="https://www.facebook.com/ween.maar"><span>
                  <button mat-icon-button><img src="assets/icons/gitlab (1).svg" class="icon">
                  </button> </span></a></li>

            <li> <a href="https://www.facebook.com/ween.maar"><span>
                  <button mat-icon-button><img src="assets/icons/github-2506802 (2).svg" class="icon">
                  </button> </span></a></li>

           
          </ul>
        </div>


      </nav>
      
    </div>
  </div>


