
img{
    margin-top: -170px;
    margin-left: 3px;
}
.btn{
    top: -180px;
    position: relative;
    left: 150px;
    width:100px;
    height:40px;
    border-radius:20px;
}
/*------- card profile--------*/
.content{
  display: flex;
  right:-50px !important;
  top: 150px !important;
  position: relative;
  
  
}
  /*card2*/

.translate{
  font-size: 12px;
  padding: 1em;
 color:white;

}

.photoprofile{
  border-radius:50px !important;
  padding:0.2em!important;
  margin-top: 0 !important;
  width: 200px;
  height: 160px;
}
.rounded-corners-gradient-borders {
  width: 200px;
  height: 160px;
  border: double 2px transparent;
  border-radius: 50px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  }