<body> 
    <div class="content">
        <div class="rounded-corners-gradient-borders">
            <img src= "assets/images/marwen.jpg" class="photoprofile" width=110% height=100%>
        </div>
        <div class="translate">
            <mat-card-title>Shili Marwen</mat-card-title>
            
  
        </div>
    </div>  
    <img src="assets/images/pexels-lukas-574069.jpg" class="img-thumbnail" alt="...">
<div class="btn">
    <button type="button" class="btn btn-info">Info</button>

</div>
    </body>





